/* custom css here */
@font-face {
  font-family: "raidercrusader";
  src: url("../fonts/custom/raidercrusader.ttf");
}

.black-logo, .white-logo {
  font-family: raidercrusader;
  font-size: 3.5rem;
  position: absolute;
}

.black-logo-footer, .white-logo-footer {
  font-family: raidercrusader;
  font-size: 3.5rem;
}

.theme-light .white-logo-footer {
  display: none;
}

.theme-dark .black-logo-footer {
  display: none;
}